.jumbotron{
  background-color: 	#ADD8E6;
  text-align: center;
  background-image: url(sun2.png);
  background-size: cover;
  margin-bottom: 0px;
}

h1 {
  text-align: center;
  font-family: 'Changa One', sans-serif;
  font-size: 4.0em;
  font-weight: normal;
  line-height: 0.8em;
  font-style: bolder;
  text-shadow: 1px 1px 2px black;
  font-weight: bolder;
  text-align: center;
}

#inlineFormInput{

}

#slideshow, img.bgM {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index:-9999;
}
